@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body[data-theme='light'] {
  /* Light Theme */
  --background-primary: #fdfefe;
  --background-secondary: #f0f2f5;
  --text-primary: #1c1e21;
  --text-secondary: #434549;
  --accent-color: #0034e0;
  --accent-color-secondary: #5163b4;
  --error-color: #db584c;
  --border-color: #dddfe2;
}

body[data-theme='dark'] {
  /* Dark Theme */
  --background-primary: #000000;
  --background-secondary: #2c2b2b;
  --text-primary: #ffffff;
  --text-secondary: #e6e3e3;
  --accent-color: #bb86fc;
  --accent-color-secondary: #03dac6;
  --error-color: #cf6679;
  --border-color: #2c2c2c;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  background-color: var(--background-primary);
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

input {
  outline: none;
}

.centred_margin {
  margin: 0 auto;
}
