@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Dark Theme (Default) */
  --background-primary: #121212;
  --background-secondary: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-secondary: #b3b3b3;
  --accent-color: #bb86fc;
  --accent-color-secondary: #03dac6;
  --error-color: #cf6679;
  --border-color: #2c2c2c;
}

body[data-theme='light'] {
  /* Light Theme */
  --background-primary: #fdfefe;
  --background-secondary: #f0f2f5;
  --text-primary: #1c1e21;
  --text-secondary: #606770;
  --accent-color: #001868;
  --accent-color-secondary: #dd3a2c;
  --error-color: #dd3a2c;
  --border-color: #dddfe2;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  height: 90vh;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

input {
  outline: none;
}

.centred_margin {
  margin: 0 auto;
}
